* {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-family: "Saira Medium";
  transition: 200ms;
  border: none;
  outline: none;
}

:root {
  --border-radius: 12px;
  --cc-bg: transparent;

  --widget-background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.75);
  --noti-bg-alpha: 0.6;

  --padding: 10px;
}

.control-center {
  border-radius: 12px;
}

.widgets > .widget,
.widget-mpris > carouselindicatordots,
.widget-mpris > box > button {
  background: var(--widget-background);
  border-radius:12px;
  padding: calc(var(--border-radius) / 2);
  border: var(--border);
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.75);
}

.control-center-list-placeholder {
  padding: var(--border-radius);
}

.widget-dnd > switch {
  background: rgba(0, 0, 0, .25);
  border-radius: 8px;
  box-shadow: none;
  padding: 2px;
}

.widget-dnd > switch:checked {
  background: rgba(255, 255, 255, 0.5);
}

.widget-dnd > switch slider {
  background: rgb(255, 255, 255);
  border-radius: 6px;
}

.notification {
  padding: 10px 15px;
}

.notification-group {
  border-radius: var(--border-radius);
  padding: 8px;
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.75);
}

.widget.widget-mpris {
  --border-radius: 12px;
  --cc-bg: transparent;

  --widget-background: rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.75);
  --noti-bg-alpha: 0.6;

  --padding: calc(var(--border-radius) / 2);
}
.widget.widget-mpris > carouselindicatordots {
  --dots-padding: 4px;
  padding: var(--dots-padding);
  padding-left: var(--dots-padding);
  padding-right: calc(6px + var(--dots-padding));
  margin: 0;
  margin-top: var(--padding);
}

.widget-mpris > box > button:hover {
  background: rgba(46, 46, 46, 1);
}
.widget-mpris-player {
  box-shadow: none;
  border: var(--border);
  margin: 0 var(--padding);
}
.widget-mpris-player:only-child {
  margin: 0;
}

.widget-buttons-grid {
  font-size: x-large;
  padding: 6px 2px;
  margin: 6px 33px;
  border-radius: 12px;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
  margin: 4px 25px;
  padding: 6px 30px;
  background: transparent;
  border-radius: 12px;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  background:rgba(255, 255, 255, 0.4);
}
